.active-link {
    background-color: #ff4081;
    color: #fff;
}
.w-full {
  width: 100%; 
}
.svg-canvas {
  min-width: 300px;
  min-height: 300px; 
}
.charts-div {
  padding: 8px;
  width: 50%;
}