.flex-row {
  display: flex;
  flex-direction: row;

}
.flex-col {
  display: flex;
  flex-direction: column;

}
.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
} 
 
.date-container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    h2.date {
      border: solid #ec407a 5px;
      padding: 10px;
      border-radius: 13px;
    }
}
.sprint-title {
  font-size: 36px;
  text-align: center;
  margin: 12px 0;
}
.right-side{
  text-align: right;
  .date-container {
    padding-right: 30px;
    padding-left: 0;
    // h2.date::after {
    //   content: ' ';
    //   border: solid #ec407a;
    //   position: absolute;
    //   width: 51px;
    //   margin-left: 13px;
    //   margin-top: 10px;
    // }
  }
}
.left-side {
  // h2.date::before {
  //   content: ' ';
  //   border: solid #ec407a;
  //   position: absolute;
  //   width: 51px;
  //   margin-left: -69px;
  //   margin-top: 10px;
  // }
}
.right-side, .left-side {
    width: 50%;
}
.timeline-item {
  height: 340px;
  background-color: #fff;
  padding: 12px;
  color: #333;
  border-radius: 16px;
  margin: 12px;
  // box-shadow: 4px 3px 5px #49cbb7;
  box-shadow: 4px 3px 50px #ababab inset;

  &.half{
    height: 170px;
  }
 
  &:nth-child(odd) {
    color: #333;
    background-color: aliceblue;
  }
  
}
.middle-side {
    width: 15px;
    background-color: #ec407aff;
}

.sprints-wrap {
    width: 1024px;
    // background-color: #009688;
}
.content {
    flex: 1;
    padding: 0 16px;
}
img.team-member {
    border-radius: 100%;
    width: 34px;
    height: 34px;
    box-shadow: 1px 1px 7px #000;
    margin-bottom: 5px;
}
.team-wrap {
    max-height: 100%;
}
.timeline-bubble {
    // width: 50px;
    // height: 50px;
    // background-color: #ec407a;
    // border-radius: 100%;
    // margin-left: -18px;
    // margin-top: -27px;
    // position: absolute;
    width: 35px;
    height: 35px;
    background-color: #ec407a;
    border-radius: 100%;
    margin-left: -11px;
    margin-top: -27px;
    position: absolute;
}
svg.left-branch {
    margin-top: 75px;
    position: absolute;
    margin-left: 137px;
}
svg.right-branch {
    position: absolute;
    margin-left: -60px;
    margin-top: 55px;
}