<h3>Connect dots</h3>
<div >
    
      <!-- <md-progress-circular ng-if="showSpinner" style="display:inline" ng-disabled="!showSpinner" class="md-hue-2" md-diameter="20px"></md-progress-circular> -->
      <button
            (click)="renderGraph()"
            color="primary"
            class="mat-elevation-z0 print-button"
            aria-label="Print"
            mat-button
            >
            <mat-icon>scatter_plot</mat-icon> Build connections
          </button>
    <label>Number of dots: <input size="2" [(ngModel)]="numberOfDots"></label>
    <label> Connect to <input size="1" [(ngModel)]="nNearestNeighbors"> neighbors</label>
					
  </div>

<div >
  <svg style="border: dashed 2px; display:block; width:600px; height:550px" id="svg-canvas">
    <g *ngIf="dots.length">
      <circle *ngFor="let circle of dots"
        [attr.cx]="circle.x"
        [attr.cy]="circle.y"
        r="3"
        fill="blue">
      </circle>
    </g>
      <path *ngFor="let connection of vertices  | keyvalue" [attr.d]="connection.value['dStr']" [attr.stroke]="connection.value['color']" stroke-width="1" fill="none"/>
  </svg>
<div>