/* Add application styles & imports to this file! */
/* Add application styles & imports to this file! */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
  padding: 0;
  margin: 0;
  /* font-family: "Poiret one"; */
}
.d-flex {
  display: flex;
}
.d-flex .center {
  align-items: center;
  justify-content: center;
}

.p-xm {
  padding: 8px;
}
.p-s {
  padding: 16px;
}
.p-l {
  padding: 32px;
}
.py-s {
  padding-bottom: 16px !important;
  padding-top: 16px !important;
}
.py-m {
  padding-bottom: 24px !important;
  padding-top: 24px !important;
}
.center {
  text-align: center;
}
.text-center {
  text-align: center;
}

  .selected {
    opacity: 1 !important;
    stroke: blue;
    stroke-width: 1px;
  }

::-webkit-scrollbar {
	width: 10px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
	background-color: #6D6027;  background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .2) 25%,
	transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,
	transparent 75%,transparent)
}
::-webkit-scrollbar-thumb:active {
	background: #0B3B0B;
}
::-webkit-scrollbar-track {
background-color: #e2e2e2;
}
::-webkit-scrollbar-corner {
	background: transparent;
}